.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 90rem;
  max-width: 90rem;
  min-height: 40rem;
  background-color: var(--color-white);
  border-radius: 0.3rem;
  z-index: 999;
}
