.page-intro {
  background-color: var(--color-gray);
  padding-block: 5rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1rem;
    height: 7rem;
    background-color: var(--color-primary);
    z-index: 2;
  }
  &__sub {
    font-weight: 100;
    font-size: 2rem;
  }
  &__main {
    font-weight: bolder;
    font-size: 5rem;
  }
}
