.add-workout {
  // min-height: 50rem;
  overflow: hidden;
  height: 60rem;
  overflow-y: auto;

  &__form {
    height: 100%;
  }

  &__actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem 2rem;
    height: 10rem;
    transition: height 1s ease;
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 5rem;
    }

    &.sets-animation-active {
      height: 100%;
    }
  }
}

// SPECIAL COMPONENT
.set-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: var(--color-primary);
  color: var(--color-white);
  opacity: 0;
  z-index: 99999;
  transition: opacity, height 0.5s ease;
  overflow: auto;

  &--wrapper {
    height: calc(100% - 74px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .flex-cta-wrapper {
      padding: 2rem !important;
    }
  }

  &__form {
    height: 100%;
  }

  &--details {
    overflow: initial;
  }

  &__header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background: var(--color-primary);
    box-shadow: 0px 1px 3px #3b3b3b;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;

    &-title {
      display: flex;
      align-items: center;
      font-size: 2rem;
      text-transform: uppercase;
      gap: 2rem;
      svg {
        cursor: pointer;
      }
      &--text {
      }
    }
  }
  &__sets {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid white;
    overflow: hidden;

    svg {
      width: 2rem;
      height: 2rem;
      path {
        fill: var(--color-white);
      }
    }
    &-set {
      padding: 0.5rem;
      width: 3rem;
      cursor: pointer;
      transition: width 0.5s ease;
      position: relative;

      &.active {
        width: 6rem;
        text-align: center;
        background: white;
        svg path {
          fill: var(--color-primary);
        }
      }
    }
  }
  &__form {
    &--wrapper {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &--drop,
    &--super {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &--drop {
      gap: 6rem;
    }
    &--super {
      gap: 2rem;
    }
  }
  &__total-num-reps {
    font-size: 3rem;
    margin-block: 6rem;
  }
}

.add-workout__actions.sets-animation-active .set-type {
  opacity: 1;
  height: 100%;
}
