.primary-btn {
  display: flex;
  align-items: center;
  width: 14rem;
  height: 4rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background-color: var(--color-primary);
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  &__text {
    display: block;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
