.secondary-btn {
  background: none;
  border: none;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: #eee;
  }

  &--secondary {
    color: var(--color-white);
    &:hover {
      color: var(--color-black);
    }
  }
  &--danger {
    color: var(--color-danger);
    &:hover {
      background-color: var(--color-danger-light);
    }
  }
  &--success {
    color: var(--color-success);
  }
  &--warning {
    color: var(--color-warning);
  }
}
