:root {
  --color-primary: #3210e0;
  --color-gray: #eaebed;
  --color-gray-dark-4: #091926;
  --color-white: #fff;
  --color-black: #000;

  --color-danger: #e74c3c;
  --color-danger-light: rgb(255 219 215);

  --color-success: #2ecc71;
  --color-warning: #f1c40f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media (max-width: 600px) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  max-width: 117rem;
  margin: auto;
  padding-inline: 1.5rem;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-cta-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.justify-end {
  justify-content: end;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-md {
  gap: 3rem;
}

.gap-lg {
  gap: 4rem;
}

.gap-xg {
  gap: 5rem;
}

.img-fluid {
  max-width: 100%;
}

.section {
  padding: 7rem 0;
}

.title-1 {
  font-size: 5rem;
}

.title-2 {
  font-size: 4rem;
}

.title-3 {
  font-size: 3.5rem;
}

.title-4 {
  font-size: 2.5rem;
}

.title-5 {
  font-size: 2rem;
}

.title-6 {
  font-size: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.form-group-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  @media (max-width: 700px) {
    justify-content: space-between;
  }
}

.form-control {
  width: 100% !important;
}

// PADDINGs
.p-xs {
  padding: 1rem;
}
.p-sm {
  padding: 2rem;
}
.p-md {
  padding: 3rem;
}
.p-lg {
  padding: 4rem;
}
.p-xg {
  padding: 5rem;
}

.pt-xs {
  padding-top: 1rem;
}
.pt-sm {
  padding-top: 2rem;
}
.pt-md {
  padding-top: 3rem;
}
.pt-lg {
  padding-top: 4rem;
}
.pt-xg {
  padding-top: 5rem;
}
.pt-auto {
  padding-top: auto;
}

.pb-xs {
  padding-bottom: 1rem;
}
.pb-sm {
  padding-bottom: 2rem;
}
.pb-md {
  padding-bottom: 3rem;
}
.pb-lg {
  padding-bottom: 4rem;
}
.pb-xg {
  padding-bottom: 5rem;
}
.pb-auto {
  padding-bottom: auto;
}

// MARGINs
.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-xg {
  margin-top: 5rem;
}
.mt-xxg {
  margin-top: 7rem;
}
.mt-xxxg {
  margin-top: 9rem;
}
.mt-auto {
  margin-top: auto;
}

.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xg {
  margin-bottom: 5rem;
}
.mb-xxg {
  margin-bottom: 7rem;
}
.mb-xxxg {
  margin-bottom: 9rem;
}
.mb-auto {
  margin-bottom: auto;
}

.kinetic-input {
  background-color: transparent;
  border: none;
  padding: 1rem;
  width: 75%;
  color: #333;
  border-bottom: 1px solid #e1e1e1;

  &:focus {
    outline: none;
  }
  &--primary {
  }
  &--white {
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
  }
}

.kinetic-input-1-digit {
  width: 6rem;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  &--white {
    color: white;
  }
}

.kinetic-textarea {
  min-height: 15rem;
  resize: none;
}

.svg-white {
  path {
    fill: var(--color-white);
  }
}

.fix-icon {
  transform: translateY(2px);
}

svg {
  width: 1.4rem;
  height: 1.4rem;
}

hr {
  border: 1px solid #ececec;
}

.btn {
  border: none;
  background: none;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  &--primary {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 3rem;
  }
}

// CUSTOMIZATIONs
.svg {
  &--white {
    svg path {
      fill: var(--color-white);
    }
  }
  &--primary {
    svg path {
      fill: var(--color-primary);
    }
  }
  &--lg {
    svg {
      width: 4rem;
      height: 4rem;
    }
  }
  &--md {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  &--sm {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  &--xs {
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.checkbox {
  &__sets {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    z-index: -1;
    opacity: 0;
    &--valid {
      // border: 2px solid green !important;
    }
    &--invalid {
      border: 2px solid red !important;
    }
  }
}

.addworkout-checkbox-hack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-error {
  // border-bottom: 1px solid #ff7b7b;
  // background: #ffe9e9;
  border-bottom: 1px solid var(--color-danger);
  background: var(--color-danger-light);
}

.targeted-muscle--input-error::before {
  background-color: var(--color-danger) !important;
}

.error-message {
  margin-top: 1rem;
  color: var(--color-danger);
  font-size: 1.3rem;
}

.page-wrapper {
  @media (max-width: 900px) {
    padding-inline: 0.5rem;
  }
}

.alert {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.4rem;
  margin-block: 2rem;
  border-width: 1px;
  border-style: solid;
  &--danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}
